<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>發表一篇圖文</title>
  </head>
  <body>
    <div class="under">
      <div>發表一篇圖文</div>
      <div>
        文字內容
        <input
          type="text"
          placeholder="選擇一張圖片後送出"
          id="word"
          class="textWord"
        />
      </div>
      <div>圖片檔案</div>
      <form enctype="multipart/form-data" target="theiframe">
        <input type="file" id="choosePhoto" accept="image/*" />
      </form>
      <button class="confirmUpload">送出</button>
    </div>
  </body>
  <script type="text/javascript" src="/static/index.js"></script>
</html>
